$mycolor: rgb(30, 70, 3);
@import "./info";

@mixin flexcenter($direction, $backgroundcolor, $type) {
  display: flex;
  justify-content: $direction;
  align-items: center;
  border: $backgroundcolor 4px $type;
}

body {
  @include flexcenter(center, purple, dotted);
  background: beige;
  display: flex;
  flex-direction: column;
}

button {
  background: $mycolor;
  color: pink;
  &:hover {
    background: $titles;
  }
}

.info {
  background: gold;
  h1 {
    background: brown;
  }
}
