html,body{
    padding: 0;
    margin: 0;
}
body{
    background-color: dimgrey;
}
.nav {
    display: inline-block; 
    list-style-type: none;
    background-color: darkgrey;
    width: 100%;
    border: 1px solid darkred;
    text-decoration: none;
    
}
.center {
    display: block;
    margin: 0 auto;
    height: 50px;  
    width: 100px;
   
}
img{
    width: 200px;
    height: 300px;
}
ul{
    list-style-type: none;
    text-align: center;
    
}
li{
    display: inline;
    
}
a{
    color: darkred;
}
a:hover{
    font-family: 'Times New Roman', Times, serif;
    color: darkgreen;
    background-color: silver;
    padding: 5px;
}
footer{
    display: inline-block; 
    list-style-type: none;
    background-color: darkgrey;
    width: 100%;
    text-align: center;
    border: 1px solid darkred;

}
.section{
    display: flex;
    float: left;
    width: 49.7%;
    border: 1px solid darkred;
    margin: 0;
}
.aside{
    display: flex;
    float: right;
    width: 50%;
    border: 1px solid darkred;
    margin: 0;
}
.link{
    text-align: center;
    margin-top: 230px;
    margin-left: 200px;
    background-color: yellowgreen;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    padding: 10px;
    display: flex;
    float: right;
}

@media screen and (max-width:600px){
   
}

@media screen and (max-width:2560px){
    
}
@media screen and (max-width:1044px){
   
}
@media screen and (max-width:1024px){
    
}
@media screen and (max-width:768px){
    
}
@media screen and (max-width:425px){
    
}
@media screen and (max-width:375px){
   
}
@media screen and (max-width:320px){
    
}